.section{
    background:#f8f3ea;
    padding:100px 7%;
}

.container{
    max-width:1300px;
    margin:auto;

    display:grid;
    grid-template-columns:1fr 520px;
    align-items:center;
    gap:80px;
}

/* LEFT */

.left{
    max-width:560px;
}

.badge{

    display:inline-block;

    background:#04172d;
    color:#fff;

    font-size:.7rem;
    letter-spacing:2px;

    padding:10px 18px;

    border-radius:3px;

    margin-bottom:25px;
}

.title{

    font-size:64px;
    line-height:1.1;
    font-weight:300;
    color:#222;

    margin-bottom:25px;
}

.title span{

    color:#c9982f;
}

.line{

    width:70px;
    height:2px;
    background:#c9982f;

    margin:30px 0;
}

.description{

    font-size:1.35rem;

    line-height:1.8;

    color:#666;

    margin-bottom:45px;
}

.button{

    display:inline-flex;
    align-items:center;
    gap:20px;

    padding:20px 38px;

    border:2px solid #c9982f;

    background:transparent;

    color:#c9982f;

    font-size:.95rem;

    letter-spacing:4px;

    cursor:pointer;

    transition:.35s;
}

.button:hover{

    background:#c9982f;
    color:white;
}

.button span{

    font-size:1.3rem;
}


/* RIGHT */

.right{

    position:relative;
}

.corner{

    position:absolute;

    width:90px;
    height:90px;

    border-left:3px solid #c9982f;
    border-top:3px solid #c9982f;

    left:-18px;
    top:-18px;

    border-radius:18px 0 0 0;

    z-index:0;
}

.card{

    position:relative;
    z-index:2;

    background:white;

    border-radius:18px;

    overflow:hidden;

    box-shadow:
    0 20px 60px rgba(0,0,0,.12);
}

.imageWrapper{

    position:relative;
    width:100%;
    height:420px;
}

.image{

    object-fit:cover;
}

.quoteSection{

    padding:30px;
}

.quoteIcon{

    color:#c9982f;

    font-size:40px;
}

.quote{

    font-size:1.2rem;

    font-style:italic;

    line-height:1.9;

    color:#444;

    margin:15px 0 20px;
}

.quoteSection h4{

    color:#c9982f;

    font-weight:500;
}

/* ---------------- MOBILE ---------------- */

@media(max-width:992px){

.container{

grid-template-columns:1fr;
gap:60px;

}

.left{

max-width:100%;
}

.title{

font-size:48px;
}

.description{

font-size:1.15rem;
}

.right{

width:100%;
max-width:500px;
margin:auto;
}

.imageWrapper{

height:420px;
}

}


@media(max-width:768px){

.section{

padding:70px 22px;
}

.title{

font-size:38px;
}

.description{

font-size:1rem;
line-height:1.8;
}

.button{

width:100%;
justify-content:center;

padding:18px;
}

.imageWrapper{

height:380px;
}

.quote{

font-size:1rem;
}

}


@media(max-width:480px){

.title{

font-size:32px;
}

.badge{

font-size:.6rem;
padding:8px 15px;
}

.imageWrapper{

height:320px;
}

.quoteSection{

padding:22px;
}

.button{

letter-spacing:2px;
font-size:.85rem;
}

}