.section{
    width:100%;
    background:#07172A;
    padding:110px 20px;
}

.container{
    width:min(1400px,100%);
    margin:auto;
}

/* ---------- Heading ---------- */

.number{
    display:block;

    color:#d3a64b;

    font-size:14px;

    letter-spacing:3px;

    margin-bottom:18px;
}

.heading{

    font-family:"Cormorant Garamond",serif;

    font-size:clamp(2.8rem,6vw,5.5rem);

    font-weight:400;

    color:#F7F2EA;

    margin-bottom:70px;

    line-height:1;
}

/* ---------- Timeline ---------- */

.timeline{
    display:flex;
     justify-content: space-between;
   
    flex-direction:column;
}

.row{

    display:grid;

    grid-template-columns:360px 1fr;
    gap: 30px;

    align-items:center;

    padding:38px 0;
     

    border-bottom:1px solid rgba(255,255,255,.08);

    transition:.35s ease;
}

.row:first-child{

    border-top:1px solid rgba(255,255,255,.08);
}

.row:hover{

    padding-left:18px;

    background:rgba(255,255,255,.015);
}

.timeWrapper{

    display:flex;

    align-items:center;

    gap:24px;
}

.dot{

    width:12px;

    height:12px;

    background:#d3a64b;

    border-radius:50%;

    box-shadow:0 0 15px rgba(211,166,75,.45);
}

.time{

    color:#d3a64b;

    letter-spacing:5px;

    font-size:1.55rem;

    font-weight:300;

    white-space:nowrap;
}

.event{

    color:#d8d8d8;

    font-size:2rem;

    font-weight:300;

    transition:.35s;
}

.row:hover .event{

    color:#fff;

    transform:translateX(10px);
}

/* ---------- Tablet ---------- */

@media(max-width:992px){

.heading{

font-size:4rem;
}

.row{

grid-template-columns:220px 1fr;

padding:32px 0;
}

.time{

font-size:1.3rem;

letter-spacing:3px;
}

.event{

font-size:1.55rem;
}

}

/* ---------- Mobile ---------- */

@media(max-width:768px){

.section{

padding:70px 20px;
}

.heading{

font-size:3rem;

margin-bottom:45px;
}

.row{

display:flex;

flex-direction:column;

align-items:flex-start;

gap:18px;

padding:24px 0;
}

.timeWrapper{

gap:16px;
}

.time{

font-size:1rem;

letter-spacing:2px;
}

.event{

font-size:1.3rem;

line-height:1.5;
}

.row:hover{

padding-left:0;
}

.row:hover .event{

transform:none;
}

}

/* ---------- Small Mobile ---------- */

@media(max-width:480px){

.heading{

font-size:2.4rem;
}

.event{

font-size:1.1rem;
}

.time{

font-size:.95rem;
}

.dot{

width:10px;

height:10px;
}

}